<p-button label="Add" (onClick)="add()"></p-button>
<button pButton type="button" label="Remove" (click)="remove()"></button>

<p-dataView #dv id="dv" [value]="products" [rows]="9">
  <ng-template pTemplate="header">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="listItem">
    <div class="p-col-12">
      <div class="product-list-item">
        <div class="product-list-detail">
          <div class="product-name">{{product.name}}</div>
          <div class="product-description">{{product.description}}</div>
        </div>
        <div class="product-list-action">
          <span class="product-price">${{product.price}}</span>
          <p-button icon="pi pi-shopping-cart" label="Add to Cart"
            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

<div *ngFor="let product of products">
  {{product.name}} - 
  {{product.description}}
</div>


<p-table [value]="products">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.quantity}}</td>
      </tr>
  </ng-template>
</p-table>
